//variables

$website-width: 1280px;
$main-color: ##A58E74;
$light-color: ##FFEFCD;
$medium-color: #E09132;
$dark-color: #424530;
$bg-image: url("../img/showcase.jpg");

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
